.box-rounded
  %h1 Regras
  %hr
  %h3 Apostas
  =t("rules.guesses")
  %br/
  %h3 Pontuação
  =t("rules.score")
  %br/
  %br/
  %span.label.label-primary= pluralize("3", t(:point))
  %br/
  =t("rules.score_3")
  %br/
  %br/
  %span.label.label-warning= pluralize("1", t(:point))
  %br/
  =t("rules.score_1")